beautifulsoup4
feedparser
matplotlib
numpy
oauthlib
openpyxl
opt_einsum
packaging
pandas
patsy
peewee
plotly
prophet
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
pyparsing
pypiwin32
python-dateutil
pyttsx3
pytz
pywin32
PyYAML
referencing
regex
requests
requests-oauthlib
scikit-learn
scipy
seaborn
statsmodels
streamlit
transformers
yfinance
