beautifulsoup4==4.13.4
feedparser==6.0.11
matplotlib==3.10.3
numpy==1.26.4
oauthlib==3.3.1
openpyxl==3.1.5
opt_einsum==3.4.0
packaging==25.0
pandas==2.3.0
patsy==1.0.1
peewee==3.18.1
plotly==6.1.2
prophet==1.1.7
protobuf==4.25.8
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydeck==0.9.1
pyparsing==3.2.3
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.98
pytz==2025.2
pywin32==310
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
statsmodels==0.14.4
streamlit==1.46.0
transformers==4.41.1
yfinance==0.2.63
